<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.abraham.mikee.sam.frcwiremapper" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="._1_home_screen.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="._0_splash_screen.SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="._2_device_list_screen.DeviceListActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="._3_device_view_screen.DeviceActivity"
            android:label="@string/title_activity_device" >
        </activity>
        <activity
            android:name="._0_splash_screen.SplashScreen2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen2"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name="._4_input_output_views.InputListActivity"
            android:label="@string/title_activity_input_list" >
        </activity>

    </application>

</manifest>
